adium-theme-ubuntu==0.3.4
alabaster==0.7.7
astroid==1.4.4
attrs==15.2.0
Babel==2.2.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
blinker==1.3
buildingspy==1.3.0
certifi==2016.2.28
chardet==2.3.0
click==6.7
configparser==3.3.0.post2
cplex==12.6.1.0
cryptography==1.2.3
cvxopt==1.1.4
cycler==0.10.0
Cython==0.23.4
debtags==2.0
decorator==4.0.9
defer==1.0.6
dirspec==13.10
docutils==0.12
duplicity==0.7.6
easygui==0.98.0
entrypoints==0.2
enum34==1.1.2
funcsigs==0.4
functools32==3.2.3.post2
fuzzywuzzy==0.14.0
GDAL==1.11.3
glpk==0.4.52
h5py==2.6.0
html5lib==0.999
httplib2==0.9.1
idna==2.0
ipaddress==1.0.16
ipykernel==4.3.1
ipyparallel==4.1.0
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
jdcal==1.0
jedi==0.9.0
Jinja2==2.8
joblib==0.9.4
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.0.3
jupyter-core==4.1.0
lazy-object-proxy==1.2.1
lockfile==0.12.2
logilab-common==1.1.0
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.1
mercurial==3.7.3
mistune==0.7.2
mock==1.3.0
nbconvert==4.2.0
nbformat==4.0.1
ndg-httpsclient==0.4.0
nose==1.3.7
notebook==4.2.0
numexpr==2.4.3
numpy==1.11.1
oauthlib==1.0.3
oneconf==0.3.9
openpyxl==2.3.0
PAM==0.4.2
pandas==0.18.1
path.py==8.1.2
pathlib2==2.1.0
patsy==0.4.1
pbr==1.8.0
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.1.2
piston-mini-client==0.7.5
ply==3.7
psutil==3.4.2
psycopg2==2.6.1
ptyprocess==0.5.1
pvlib==0.4.0
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyepw==0.1
pyflakes==1.1.0
Pygments==2.1.3
pygobject==3.20.0
pygpgme==0.3
PyJWT==1.3.0
pylint==1.5.2
PyMySQL==0.7.2
Pyomo==4.2.10784
pyOpenSSL==0.15.1
pyparsing==2.1.1
pyserial==3.0.1
pyspatialite==3.0.1
pyswarm==0.6
pytest==2.8.7
python-apt==1.1.0b1
python-dateutil==2.5.3
python-debian==0.1.27
pytz==2016.6.1
PyUtilib==5.2.3601
pyxdg==0.25
pyzmq==15.2.0
qtconsole==4.1.1
requests==2.9.1
requests-oauthlib==0.6.0
roman==2.0.0
rope==0.10.2
rpy2==2.7.8
scikit-learn==0.17
scipy==0.17.0
scour==0.32
selenium==2.48.0
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
software-center-aptd-plugins==0.0.0
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
spyder==2.3.8
SQLAlchemy==1.0.11
statsmodels==0.6.1
tables==3.2.2
terminado==0.6
tornado==4.3
traitlets==4.2.1
tweepy==3.5.0
Twisted==16.0.0
ubuntuone-client-data==14.4
urllib3==1.13.1
vboxapi==1.0
ViTables==2.1
wrapt==1.8.0
xarray==0.7.2
xlrd==0.9.4
XlsxWriter==0.8.1
xlwt==0.7.5
zope.interface==4.1.3
